# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.profileconfig.json

# gradle
build
.gradle

# other
CreaterAPITypeJS.java
HprofAnalyzer.java
dumps
eclipse
run
libs.ink

# git
.git

# Files from Forge MDK
forge*changelog.txt
